body {
  margin: 0;
  padding: 0;
  font-family: Segoe UI, sans-serif;
}

.container {
  width: 1100px;
  position: relative;
  margin: 0 auto;
}

.first-page {
  height: 100vh;
}

.first-page:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: url(../../assets/logo/bg.png);
  opacity: 0.2;
  z-index: -99;
}

.logo {
  position: absolute;
  left: calc(50% - 200px);
  top: 164px;
}

.buttons-wrapper {
  position: absolute;
  width: 701px;
  top: 525px;
  left: calc(50% - 360px);
}

.main-button {
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  height: 75px;

  outline: none;
  background: transparent;
  border: 2.5px solid black;
  cursor: pointer;

  font-family: Segoe UI, sans-serif;
  font-size: 30px;
  font-weight: 400;

  transition: 0.3s;
}

.main-button.left {
  margin-right: 47px;
}

.main-button:hover {
  background: white;
  transition: 0.3s;
}

.search-string {
  position: absolute;
  top: 0;
  right: 0;
  float: right;

  padding-left: 104px;
  margin-right: 1px;
  color: black;

  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

::placeholder {
  color: black;
  opacity: 1;
}

.search-string:focus {
  width: 700px;

  background: white;
  padding-left: 20px;

  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

nav {
  float: right;
  margin-top: 15px;
}

nav a {
  margin: 0 10px 0 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.active-lang {
  margin: 15px 10px 0 10px;
  float: right;
  z-index: -1;
  cursor: pointer;
}

.languages {
  position: absolute;
  width: 54px;
  height: 100px;

  right: 0;
  top: 5px;

  padding-top: 10px;
  text-align: center;
  background: #222;
  display: none;
}

.languages img {
  margin-bottom: 5px;
}