.user-container{
  position: relative;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
    min-height: 400px;
    margin-bottom: 20px;
}
.user-content{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 60%;
  height: 200px;
  margin: 20px 0;
}
.user-content:nth-child(3){
  left: 40%;
}
.user-card{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  border: 1px solid black;
  background-color: #fff;
  padding: 5px 5px;
}
.user-content:nth-child(3) .user-card{
  flex-direction: row-reverse;
}
.user-foto{
  box-sizing: border-box;
  flex: 1;
  border: 4px solid black;
}
.user-content:nth-child(2) .user-foto{
  background-image: url('../../../assets/developer/Nick.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.user-content:nth-child(3) .user-foto{
  background-image: url('../../../assets/developer/Katsiaryna.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.user-content:nth-child(4) .user-foto{
  background-image: url('../../../assets/developer/kiryl.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.user-info{
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: space-between;
  padding-left: 10px;
}
.user-social{
  width: 100%;
  height: 40px;
}
.link-social{
  display: inline-block;
  width: 40px;
  height: 40px;
}
.link-social:nth-child(1){
  background: url('../../../assets/developer/vk.png') no-repeat 0 7px;
  background-size: 180px;
}
.link-social:nth-child(2){
  background: url('../../../assets/developer/vk.png') no-repeat -42px 7px;
  background-size: 180px;
}
.link-social:nth-child(3){
  background: url('../../../assets/developer/vk.png') no-repeat -75px 7px;
  background-size: 180px;
}
.link-social:nth-child(4){
  background: url('../../../assets/developer/vk.png') no-repeat -105px 7px;
  background-size: 180px;
}
.link-social:nth-child(5){
  background: url('../../../assets/developer/vk.png') no-repeat -136px 7px;
  background-size: 180px;
}